<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PetStore Monitoring</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light  border-bottom box-shadow mb-3" style="background-color: #304d69">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="color: #70ff96;">PetStore Monitoring</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index" style="color: #F0FFFF;">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" style="color: #F0FFFF;" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Sales Monitoring
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                @if (TempData.Peek("SalesMonitoring").Equals(true))
                                {
                                    <a class="nav-link " asp-area="" asp-controller="cartitem" asp-action="Index" style="color: #000000;">Home</a>
                                }
                                else
                                {
                                    <a class="nav-link disabled" asp-area="" asp-controller="cartitem" asp-action="Index" style="color: #000000;">Home</a>

                                }
                                <div class="dropdown-divider"></div>
                                @if (TempData.Peek("ItemStats").Equals(true))
                                {
                                    <a class="nav-link " asp-area="" asp-controller="cartitem" asp-action="itemstats" style="color: #000000;">Item Stats</a>
                                }
                                else
                                {
                                    <a class="nav-link disabled" asp-area="" asp-controller="cartitem" asp-action="itemstats" style="color: #000000;">Item Stats</a>

                                }
                            </div>
                        </li>
                        <li class="nav-item">
                            @if (TempData.Peek("CartMonitoring").Equals(true))
                            {
                                <a class="nav-link" asp-area="" asp-controller="cartitem" asp-action="MarketBasket" style="color: #F0FFFF;">Cart Monitoring</a>
                            }
                            else
                            {
                                <a class="nav-link disabled" asp-area="" asp-controller="cartitem" asp-action="marketbasket" style="color: #0366d6;">Cart Monitoring</a>

                            }
                        </li>
                        <li class="nav-item">
                            @if (TempData.Peek("VisitMonitoring").Equals(true))
                            {
                                <a class="nav-link" asp-area="" asp-controller="visits" asp-action="Index" style="color: #F0FFFF;">Visit Monitoring</a>
                            }
                            else
                            {
                                <a class="nav-link disabled" asp-area="" asp-controller="visits" asp-action="Index" style="color: #0366d6;">Visit Monitoring</a>

                            }
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="background-color: #304d69">
        <div class="container" style="color:white;">
            &copy; 2022 - PetStore Monitoring - Team6Minus1
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
