@{
    ViewData["Title"] = "Privacy Policy";
}
<head>
    <link rel="stylesheet" href="~/css/cart.css" />
</head>
<div class="text-center">
    <h3>Shopping Cart Analysis</h3>
    <input id="search" type="text" placeholder="Search..." />
    
    <div class="float-container">

      <div class="float-child">
        Float Column 1
      </div>
  
      <div class="float-child">
        Float Column 2
      </div>

      <div class="float-child">
        Float Column 3
      </div>
  
    </div>
</div>   
         
