@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
 
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
	<title>Index</title>
</head>
<body>
	<div id="chartContainer"></div>
 
	<script type="text/javascript">
 
		window.onload = function () {
			var chart = new CanvasJS.Chart("chartContainer", {
				theme: "light2",
				animationEnabled: true,
				title: {
					text: "Item Quantity Sold"
				},
				data: [
				{
					type: "column", //change type to bar, line, area, pie, etc
                                        //Uncomment below line to add data coming from the controller.
					dataPoints: @Html.Raw(ViewBag.ItemQuantityVM),
				}
				]
			});
			chart.render();
		};
	</script>
 
</body>
</html>			
